<% content_for(:title, ' Forthcoming Over Email Quota') %>

<p>Hi <b>Admin</b>,</p>
<p>System is forthcoming over email quota,
  with number sent emails is:
  <b><%= @current_number_mails%></b> (emails)
</p>
