#rooms {
  .search-icon {
    margin-left: 20px;
    font-size: 40px;
    cursor: pointer;
    > a {
      border-bottom: 1px dotted gray;
    }
  }

  /* .bubble */
  .bubble {
    background-image: linear-gradient(bottom, rgb(210, 244, 254) 25%, rgb(149, 194, 253) 100%);
    background-image: -o-linear-gradient(bottom, rgb(210, 244, 254) 25%, rgb(149, 194, 253) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(210, 244, 254) 25%, rgb(149, 194, 253) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(210, 244, 254) 25%, rgb(149, 194, 253) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(210, 244, 254) 25%, rgb(149, 194, 253) 100%);
    background-image: -webkit-gradient(
                    linear,
                    left bottom,
                    left top,
                    color-stop(0.25, rgb(210, 244, 254)),
                    color-stop(1, rgb(149, 194, 253))
    );
    border: solid 1px rgba(0, 0, 0, 0.5);
    /* vendor rules */
    border-radius: 20px;
    /* vendor rules */
    box-shadow: inset 0 5px 5px rgba(255, 255, 255, 0.4), 0 1px 3px rgba(0, 0, 0, 0.2);
    /* vendor rules */
    box-sizing: border-box;
    clear: both;
    float: left;
    margin-bottom: 20px;
    padding: 8px 30px;
    position: relative;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
    width: auto;
    max-width: 100%;
    word-wrap: break-word;
  }

  .bubble:before, .bubble:after {
    border-radius: 20px / 10px;
    content: '';
    display: block;
    position: absolute;
  }

  .bubble:before {
    border: 10px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: -7px;
    z-index: -2;
  }

  .bubble:after {
    border: 8px solid transparent;
    border-bottom-color: #d2f4fe;
    bottom: 1px;
    left: -5px;
  }

  .bubble--alt {
    background-image: linear-gradient(bottom, rgb(172, 228, 75) 25%, rgb(122, 205, 71) 100%);
    background-image: -o-linear-gradient(bottom, rgb(172, 228, 75) 25%, rgb(122, 205, 71) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(172, 228, 75) 25%, rgb(122, 205, 71) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(172, 228, 75) 25%, rgb(122, 205, 71) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(172, 228, 75) 25%, rgb(122, 205, 71) 100%);
    background-image: -webkit-gradient(
                    linear,
                    left bottom,
                    left top,
                    color-stop(0.25, rgb(172, 228, 75)),
                    color-stop(1, rgb(122, 205, 71))
    );
    float: right;
  }

  .bubble--alt:before {
    border-bottom-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px / 10px;
    left: auto;
    right: -7px;
  }

  .bubble--alt:after {
    border-bottom-color: #ace44b;
    border-radius: 20px / 10px;
    left: auto;
    right: -5px;
  }

  .left-part-list-users {
    @include screen-xs {
      display: none;
    }
  }

  .list-users {
    overflow-y: scroll;
    @include screen-lg{
      max-height: 600px;
    }
    @include screen-md{
      max-height: 400px;
    }
    @include screen-sm {
      max-height: 300px;
    }
    @include screen-xs {
      max-height: 200px;
    }
    border: 1px dotted gray;
  }

  #anychat-message-boxes {
    overflow-y: scroll;
    @include screen-lg{
      max-height: 600px;
    }
    @include screen-md{
      max-height: 400px;
    }
    @include screen-sm {
      max-height: 300px;
    }
    @include screen-xs {
      max-height: 250px;
    }
    border: 1px dotted gray;
  }
  
  .list-user-item {
    border-bottom: 1px dotted gray;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
  }
}