<div id="message-box-template" class="hide">
  <div class="row message-box-item" id="msg-box-for-username1">
    <div class="col-12 user-info">
      <div class="bubble">
        Blue text bubble
      </div>
    </div>
    <div class="col-12" id="anychat-message-boxes">
      <div id="anychat-message-box-item-1">
        <div class="bubble">
          Blue text bubble
        </div>
        <div class="bubble bubble--alt">
          Green text bubble
        </div>
      </div>
    </div>
  </div>
</div>