<div id="message-box-template" class="hide">
  <div class="row message-box-item" id="">
    <div class="col-12 user-info">
      <span class="icon-online"><i class="fa fa-circle"></i></span>&nbsp;
      <span class="username"></span>
    </div>
    <div class="col-12 anychat-message-boxes">
      <div class="anychat-message-box-item">
      </div>
    </div>
    <div class="col-12 margin-top-10">
      <form id="msg_create" action="/messages" accept-charset="UTF-8"
            data-remote="true" method="post">
        <input name="utf8" type="hidden" value="✓">
        <input type="hidden" name="message[from_user]" value="<%= current_user.username %>">
        <input type="hidden" name="message[to_user]" value="">

        <div class="row textarea-action">
          <div class="col-12">
          <textarea class="form-control auto-resize required"
                    rows="5" cols="5" data-name="Message content"
                    data-required-msg="Please input some content before sending to that guy!"
                    placeholder="Say something to that guy!" name="message[msg_content]"></textarea>
          </div>
          <div class="col-12 text-right">
            <div class="text-gray">Chars: <span id="message-text-length" class="text-red">0</span> / 255</div>
          </div>
          <div class="col-12 text-right">
            <input type="submit" value="Send" class="btn btn-sm btn-success btn-submit"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row message-box-item">
  <div class="col-12 no-selected-conversation">
    <p class="alert alert-info">
      No selected conversation!<br/>
      Please search and select the guy that you want to talk to.
    </p>
  </div>
</div>
