<div class="footer margin-bottom-30">
  <div class="container row">
    <div class="column col-md-4 col-sm-12 col-12">
      <div class="column-header">Navigation</div>
      <a href="/"><i class="fa fa-home"></i> anychat.4me.tips</a><br/>
      <a href="https://github.com/manhdaovan/anychat.git"><i class="fa fa-github"></i> Anychat</a><br/>
    </div>
    <div class="column col-md-4 col-sm-12 col-12">
      <div class="column-header">Owner</div>
      <a href="https://github.com/manhdaovan"><i class="fa fa-github"></i> manhdaovan</a><br/>
      <a href="mailto:manhdaovan@gmail.com"><i class="fa fa-address-card-o"></i> manhdaovan@gmail.com</a><br/>
    </div>
    <div class="column col-md-4 col-sm-12 col-12">
      <div class="column-header">Community</div>
      <div class="row">
        <div class="col-12 text-left">
          <!-- Place this tag where you want the button to render. -->
          <a class="github-button" href="https://github.com/manhdaovan/anychat/issues" data-icon="octicon-issue-opened" data-style="mega" data-count-api="/repos/manhdaovan/anychat#open_issues_count" data-count-aria-label="# issues on GitHub" aria-label="Issue manhdaovan/anychat on GitHub">Issue</a>
        </div>
        <div class="col-12 text-left">
          <!-- Place this tag where you want the button to render. -->
          <a class="github-button" href="https://github.com/manhdaovan/anychat" data-icon="octicon-star" data-style="mega" data-count-href="/manhdaovan/anychat/stargazers" data-count-api="/repos/manhdaovan/anychat#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star manhdaovan/anychat on GitHub">Star</a>
        </div>
        <div class="col-12 text-left">
          <!-- Place this tag where you want the button to render. -->
          <a href="https://github.com/manhdaovan/anychat/graphs/contributors">Contributors</a>
        </div>
      </div>
    </div>
  </div>
</div>