<div class="footer">
  <div class="container row">
    <div class="column col-md-4 col-sm-12 col-12">
      <div class="column-header">Navigation</div>
      <a href="/"><i class="fa fa-home"></i> anychat.4me.tips</a><br/>
      <a href="https://github.com/manhdaovan/anychat.git"><i class="fa fa-github"></i> Anychat</a><br/>
    </div>
    <div class="column col-md-4 col-sm-12 col-12">
      <div class="column-header">Owner</div>
      <a href="https://github.com/manhdaovan"><i class="fa fa-github"></i> manhdaovan</a><br/>
      <a href="mailto:manhdaovan@gmail.com"><i class="fa fa-address-card-o"></i> manhdaovan@gmail.com</a><br/>
    </div>
    <div class="column col-md-4 col-sm-12 col-12">
      <div class="column-header">Community</div>
      <a href="">Blog - Not available yet</a>
    </div>
  </div>
</div>