<div class="header">
  <div class="row header-promotion text-center">
    <div class="header-promotion-content">
      <div class="text-huge">Better Private Communication</div>
      <div class="text-medium">The best way to chat with another without any dependency or information.</div>
      <div class="text-medium" id="text-change-typed"><span>No </span><span id="promotion-change-text"></span></div>
    </div>
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function () {
        Typed.new("#promotion-change-text", {
          strings: ["installed app.",
            "phone, email or any social account required.",
            "session or anything saved after you quit.",
            "one knows who you are."],
          typeSpeed: 70,
          loop: true,
          showCursor: true,
          cursorChar: "|"
        });
      });
    </script>
  </div>
  <div class="bg-credit-link">
    <a class="pull-right text-right"
       href="http://www.desktopwallpaperhd.net/view/animated-kells-background-secret-films-wonders-202287.html">Img Credit</a>
  </div>
</div>