<div class="row header-promotion text-center">
  <div class="text-huge">Better Private Communication</div>
  <div class="text-medium">The best way to chat with another without any dependency or information.</div>
  <div class="text-medium" id="promotion-change-text" data-default-text="No registration."></div>
</div>