<% content_for :title, "Welcome, #{current_user.username}" %>
<div class="row container">
  <div class="col-6">
    <div id="search-icon">
      <a class="text-info">
        <i class="fa fa-user-circle"></i><i class="fa fa-search"></i>
      </a>
    </div>
  </div>
  <div class="col-6"></div>
  <div class="col-md-4 left-part-list-users sidenav nav-open" id="mySidenav">
    <%= render 'shared/user_search_box', q: @q, selected_username: @selected_username %>
  </div>
  <div class="col-md-8" id="any-messages-boxes">
    <%= render 'shared/messages_box' %>
  </div>
</div>


