<div class="row">
  <div class="col-md-12">
    <div class="search-icon">
      <a class="text-info">
        <i class="fa fa-user-circle"></i><i class="fa fa-search"></i>
      </a>
    </div>
  </div>
  <div class="col-md-4 left-part-list-users sidenav nav-open" id="mySidenav">
    <div class="row">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    </div>
    <%= render 'shared/user_search_box', q: @q %>
  </div>
  <div class="col-md-8 any-messages-box" id="main">
    <%= render 'shared/messages_box' %>
  </div>
</div>


