body {
  font-family: "Noto Sans CJK JP", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  * {
    font-family: "Noto Sans CJK JP", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}

.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  color: red;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

.pull-right{
  float: right;
}
.hide{
  display: none;
}

// margin, padding
@each $prop in margin, padding {
  @each $value in 0, 5, 10, 15, 20, 30, 40, 50, 60, 70, 80, 90, 100 {
    .#{$prop}-#{$value} {
      #{$prop}: #{$value}px;
    }

    @each $orientation in top, right, bottom, left {
      .#{$prop}-#{$orientation}-#{$value} {
        #{$prop}-#{$orientation}: #{$value}px;
      }
    }
  }
}

@each $prop in gray, red, yellow, blue, green, black, white {
  .text-#{$prop}{
    color: #{$prop};
  }
}

a {
  color: #5bc0de !important;
  cursor: pointer;
}